@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="flex flex-column d-grid gap-1">
        <div><a class="btn btn-success" href="~/Admin/Tickets">1. Удаление, обновление</a></div>
        <div><a class="btn btn-success" href="~/Admin/Add">2. Добавление</a></div>
    </div>
</div>
