@{
    Layout = "_Layout1";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="flex flex-column d-grid gap-1">
        <div><a class="btn btn-success" href="~/Home/MyLayout">Другой дизайн</a></div>
        <div><a class="btn btn-success" href="~/Home/TouristList">1. Список туристов</a></div>
        <div><a class="btn btn-success" href="~/Home/Resettlement">2. Список на расселение</a></div>
        <div><a class="btn btn-success" href="~/Home/TouristsInCountry">3. Список туристов в определённой стране</a></div>
        <div><a class="btn btn-success" href="~/Home/AboutTourist">4. Сведения о туристе</a></div>
        <div><a class="btn btn-success" href="~/Home/HotelsForTourists">5. Гостиницы</a></div>
        <div><a class="btn btn-success" href="~/Home/CountTourists">6. Кол-во туристов по экскурсям</a></div>
        <div><a class="btn btn-success" href="~/Home/PopularExcursions">7. Самые популярные экскурсии</a></div>
        <div><a class="btn btn-success" href="~/Home/AboutFlight">8. Загрузка рейсов</a></div>
        <div><a class="btn btn-success" href="~/Home/Warehouse">9. Грузооборот склада</a></div>
        <div><a class="btn btn-success" href="~/Home/GroupFinance">10. Финансовый отчёт по группе</a></div>
        <div><a class="btn btn-success" href="~/Home/AboutFinance">11. Данные по тратам за определённый период</a></div>
        <div><a class="btn btn-success" href="~/Home/TypeBag">12. Статистика по видам груза</a></div>
        <div><a class="btn btn-success" href="~/Home/Profit">13. Рентабельность</a></div>
        <div><a class="btn btn-success" href="~/Home/TouristPr">14. Процентное отношение отдыхающик/груз-туров</a></div>
        <div><a class="btn btn-success" href="~/Home/TouristsFly">15. Туристы по рейсам</a></div>
    </div>
</div>
