@using (Html.BeginForm())
{
    <p>
        Поиск категории
        <select class="form-select" name="purpose" asp-items="ViewBag.Purpose">
            <option value="">Выбирите категорию</option>
        </select>
        Начало даты
        <div class="form-group">
            <input name="startDate" type="date" class="form-select" />
        </div>
        Конец даты
        <div class="form-group">
            <input name="endDate" type="date" class="form-select" />
        </div>
        <input type="submit" value="Search" class="btn btn-success" />
    </p>

}
<table class="table" style="color: white">
    <tr>
        <td>Город</td>
        <td>Кол-во туристов</td>
    </tr>
    <H1 style="color:red">@ViewBag.Result</H1>
    @foreach (var item in ViewBag.tt)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Count</td>
        </tr>
    }
</table>